@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SOBRE</h1>
    <h3>Pagina Sobre</h3>
    <img src="https://www.minhatorcida.com.br/wp-content/uploads/2021/03/11317_capa-galo.jpg"
    style="height: 100px"/>
</div>
